.product-card {
    border: 1px solid;
    border-radius: 8px;
    position: relative;
    height: 470px;
}

.card-div {
    padding: 8px;
}

.product-card img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

.product-info {
    margin: 10px;
}

.product-info p {
    margin: 5px;
    font-weight: 600;
}

.btn {
    background-color: darkorange;
    width: 100%;
    color: white;
    font-size: 22px;
    font-weight: 700;
    height: 40px;
    border: none;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;

}

.btn:hover {
    background-color: rgb(201, 140, 65);
}