.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 8px;
    margin: 40px;
    position: absolute;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card-section {
    background-color: darkorange;
    color: white;
    height: 900px;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}